#navbar-container {
    grid-area: navbar;
    box-sizing: border-box;

    min-height: 4rem;    
    height: 4rem;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    border-style: none none solid none;
    border-width: 1px;
    border-color: black;

    color: white;
    background: rgba(0, 0, 0, 0.7);
}