#timer-display-container {
    --timer-font-size: calc(3.5em + (5.2 - 3.5) * ((100vw - 25em) / (75 - 25)));

    grid-area: timer-display;
    box-sizing: border-box;
    width: 95%;
    height: 95%;

    border-radius: 0.5rem;
    margin: 0.25rem 0.5rem;
    padding: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex: 1 55%;

    background: inherit;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 3px 4px 5px black;
}

#elapsed-time {
    box-sizing: border-box;
    flex: 1 auto;
    width: 100%;
    height: 100%;

    border-radius: 0.5rem;
    margin: 1rem 0;
    padding: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    font-size: var(--timer-font-size);

    color: white;
    
}