#timer-controls-container {
    --icon-size: 2rem;

    /*grid-area: timer-controls;*/
    box-sizing: border-box;
    min-height: 4rem;
    height: 4rem;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    border-style: solid none solid none;
    border-width: 1px;
    border-color: black;

    background: inherit;
}