#timer-display-container {
    --timer-font-size: 2em;

    grid-area: timer-display;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex: 1 auto;

    background: inherit;
}

#elapsed-time {
    box-sizing: border-box;
    flex: 1 auto;
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    font-size: var(--timer-font-size);

    background: rgba(0, 0, 0, 0.5);
}