:root {
  --timer-min-width: 300px;
  --activity-list-min-width: 100px;
}

.App {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  overflow: auto;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  font-family: 'Courier New', Courier, monospace;

  background: black;
}